@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Панель администратора Гостиницы</h1>
    <p class="lead">Эта панель предназначена для управления номерами и гостями отеля, их регистрацией и бронированием номеров.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Номера</h2>
        <p>
            Раздел для управления номерным фондом гостиницы, вы можете добавлять новые комнаты и изменять их характеристики по необходимости.
        </p>
        <p><a class="btn btn-default" href="/Room">Перейти&raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Жильцы</h2>
        <p>В данном разделе находятся сведения о всех гостях нашего отеля.</p>
        <p><a class="btn btn-default" href="/Resident">Перейти&raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Бронирования</h2>
        <p>Все прошлые, настоящие и будущие бронирования находятся в этом разделе.</p>
        <p><a class="btn btn-default" href="/Booking">Перейти&raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Регистрация</h2>
        <p>Если к вам прибыли гости на заселение, то вам необходимо ознакомить их с правилами и зарегистрировать их в этом разделе</p>
        <p><a class="btn btn-default" href="/Check_in">Перейти&raquo;</a></p>
    </div>
</div>